.cart-item-div{
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    justify-content: space-between;
    margin-top: 10px;
}

.cart-item-div button{
    font-weight: normal;
    padding:0.2rem 0.6rem;
    margin-right: 10px;
    font-size: 14px;
    width: 2rem;
    border-radius: 3px;
    background-color: aliceblue;
    color: brown;
    border: 1px solid brown;
}

.cart-item-name{
    display: block;
}

.cart-item-price{
    display: block;
    color: rgb(134, 93, 32);
}

.cart-item-quantity{
    margin-top: 10px;
}

.cart-item-total{
    margin-top: 10px;
}

.cartItem-button-div{
    display: inline-flex;
    justify-content: space-between;
}

.cartItem-info-div{
    text-align: left;
    width: 50%;
}