.cart-buttons-div{
    margin-top: 1rem;
    display: flex;
    width: max-content;
    float: right;
}

.cart-total{
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
}

.cart-total span{
    font-size: 20px;
    font-weight: bold;
    display:inline;
    margin: auto;
    width: 50%;
}

.amount{
    text-align: right;
}

.amount-text{
    text-align: left;
}

.cart-close-btn{
    margin-right: 1rem;
}

.order-btn{
    margin-right: 0;
}