.card{
    border-radius: 20px;
    background-color: rgb(93, 19, 19);
    display: inline-flex;
    justify-content: space-between;
    color: aliceblue;
    width: max-content;
    height: min-content;
    margin:auto;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.cart-card{
    margin-right: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 30px;
}

.cart-quantity{
    background-color: brown;
    margin-left: 25px;
    margin-right: 10px;
}

.summary-card{
    display: block;
    background-color: rgb(48, 46, 46);
    margin-top: -10rem;
    position:relative;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    width: 50rem;
}