.card{
    border-radius: 20px;
    background-color: rgb(93, 19, 19);
    display: inline-flex;
    justify-content: space-between;
    color: aliceblue;
    width: max-content;
    height: min-content;
    margin:auto;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.cart-card{
    margin-top: 20rem;
    background-color: aliceblue;
    color: rgb(54, 53, 53);
    padding: 2rem;
    display:inline-block;
    text-align: center;
}

.cart-quantity{
    background-color: brown;
    margin-left: 25px;
    margin-right: 10px;
}

.summary-card{
    display: block;
    background-color: rgb(48, 46, 46);
    margin-top: -15rem;
    position:relative;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    width: 40rem;
}

.meal-list{
    display: block;
    background-color: rgb(251, 253, 255);
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 50rem;
    border-radius: 15px;
}